@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

@media screen and (max-width:1366px) {
  body {
    background-color: red;
  }
  form > div {
    flex-basis: 50%;
    height: 120px;
  }
}

body{
  background-color: #171717;
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  align-items: center;
  background-image: linear-gradient(to left bottom, #52489c, #423c78, #332f56, #252335, #171717);
  color: rgb(241, 238, 238);
  display: flex;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
  justify-content: center;
  margin-bottom: 70px;
}

.App-header p {
  font-size: 0.9em
}

header > hr {
  width: 100px;
}

main > .flex {
  margin: 20px 40px;
  color: rgb(243, 240, 240);
  align-items: center;
  justify-content: space-evenly;
}

main {
  width: 100%;
}

form > div {
  flex-basis: 25%;
  height: 120px;
}

form > div p{
  text-align: center;
  justify-self: center;
  margin: 5px;
  width: fit-content;
}

a > button {
  background-image: linear-gradient(to right top, #52489c, #423c78, #332f56, #252335, #171717);
  border-radius: 3px;
  color: #EBF5EE;
  font-size: 19px;
  font-weight: bold;
  height: 60px;
  width: 190px;
}

a > button:hover {
  background-image: linear-gradient(to left bottom, #52489c, #423c78, #332f56, #252335, #171717);
  color: #f6faf7;
  transition: 0.8s;
  transform: scale(1.04);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-filme {
  align-items: center;
  justify-content: space-between;
  background-color:#171717;
  color: rgb(246, 241, 241);
  display: flex;
  font-size: 16px;
  height:110px;
  text-align: center;
  margin: 5px;
  outline: 1px solid white;
}

.card-filme:hover{
  /* background-color:#151515; */
  background-image: linear-gradient(to left bottom, #52489c, #423c78, #332f56, #252335, #171717);
  transform: scale(1.02);
  transition: 0.8s;
}

.card-filme input {
  margin-left: 15px;
}

.card-filme p {
  margin-right: 30px;
}



#carregando {
  text-align: center;
}

.titulo-filme{
  display: flex;
  align-items:center;
  justify-content:space-between;
  height: 102px;
  max-width: fit-content;
}

#external-div{
  max-width: 430px;
}

.resultado {
  border: 1px solid black;
  margin: 5px;
  max-width:200px;
}

#colocacao{
  /* background-image: linear-gradient(to left bottom, #52489c, #423c78, #332f56, #252335, #171717); */
  background-color: #2C2A38;
  border-radius: 5px;
  color: rgb(245, 240, 240);
  display: flex;
  font-size:1.3em;
  font-weight:bold;
  justify-content:center;
  line-height:1.5em;
  max-width:60%;
  padding:5% 0;
}

#root > main {
  margin: 20px auto;
}